.cardContainer {
  display: flex;
  width: 100%;
  padding: 0.75rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 0.75rem;
  background: var(--bg-colors-opaque, #fff);

  .userInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    align-self: stretch;

    .avatar {
      width: 2.5rem;
      height: 2.5rem;
      aspect-ratio: 1/1;
      border-radius: 1250000rem;
      background-color: #0000001a;
      overflow: hidden;
      position: relative;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    .userDetails {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 0.25rem;
      flex: 1 0 0;

      .userName {
        align-self: stretch;
        color: var(--text-colors-primary-dark, #00020f);
        font-family: "Inter Tight";
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      .userTitle {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        align-self: stretch;
        overflow: hidden;
        color: var(--text-colors-secondary-dark, #3d3d3d);
        text-overflow: ellipsis;
        font-family: "Inter Tight";
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      .userEdit {
        display: flex;
        padding: 0.25rem;
        justify-content: center;
        align-items: center;
        gap: 0.625rem;
      }
    }
  }

  .cardContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    align-self: stretch;

    .userEmail,
    .userContact {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.25rem;
      align-self: stretch;

      .email,
      .contact {
        flex: 1 0 0;
        color: var(--text-colors-secondary-dark, #3d3d3d);
        font-family: "Inter Tight";
        font-size: 0.875rem;
        font-weight: 400;
      }
    }
  }

  .userTags {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 0.25rem;
    align-self: stretch;
    flex-wrap: wrap;

    .userTag {
      display: flex;
      padding: 0.25rem 0.5rem;
      justify-content: center;
      align-items: center;
      gap: 0.625rem;
      border-radius: 0.25rem;
      background: rgba(24, 186, 96, 0.04);
    }

    .addTag {
      display: flex;
      padding: 0.25rem 0.5rem;
      justify-content: center;
      align-items: center;
      gap: 0.25rem;

      .addTagIcon {
        display: flex;
        width: 1rem;
        height: 1rem;
        justify-content: center;
        align-items: center;
        aspect-ratio: 1/1;
      }

      .addTagText {
        color: var(--Colors-blue-1, #194eff);
        font-family: "Inter Tight";
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }
}
