.main {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  height: 100%;
}

.top_row {
  display: flex;

  .btn_back {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    cursor: pointer;
    p {
      color: var(--Colors-blue-1, #194eff);
      font-size: 1rem;
      font-weight: 400;
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1.5rem;
  border-radius: 0.75rem;
  background: var(--bg-colors-opaque, #fff);
  padding: 1rem;
}

.content {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  justify-content: space-between;

  .user {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    flex: 1;
    min-width: 0;

    .avatar {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      object-fit: cover;
    }
    .userDetails {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
      flex: 1;

      .name {
        font-size: 1.25rem;
        font-weight: 500;
        color: var(--text-colors-primary-dark, #00020f);
      }
      .designation {
        font-size: 1rem;
        font-weight: 400;
        color: var(--text-colors-secondary-dark, #3d3d3d);
      }
    }
  }

  .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;

    .icons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.25rem;
      min-width: 50px;

      .actionIcons {
        display: flex;
        width: 2.5rem;
        height: 2.5rem;
        padding: 0.5rem;
        justify-content: center;
        align-items: center;
        border-radius: 0.75rem;
        background: var(--bg-colors-grey-light, #f9fbff);
      }
      .actionTitle {
        text-align: center;
        font-size: 0.75rem;
        font-weight: 500;
        color: var(--text-colors-secondary-dark, #3d3d3d);
      }
    }
  }
}

.tags {
  display: flex;
  align-items: center;
  gap: 0.625rem;

  .tag {
    display: flex;
    padding: 0.5rem;
    align-items: center;
    border-radius: 0.5rem;
    background: var(--Colors-green-1, #75c699);

    .tagTitle {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: var(--text-colors-primary-dark, #00020f);
      font-size: 1rem;
      font-weight: 400;
    }
  }

  .addTag {
    display: flex;
    padding: 0.25rem 0.5rem;
    align-items: center;
    gap: 0.25rem;
    border-radius: 0.25rem;
    cursor: pointer;
    .add {
      color: var(--Colors-blue-1, #194eff);
      font-size: 0.875rem;
      font-weight: 400;
    }
  }
}

.cardDetails {
  display: flex;
  align-items: flex-start;
  gap: 0.75rem;
  flex: 1;
  min-height: 0;

  .details {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-self: stretch;
    border-radius: 1rem;
    border-top: 4px solid var(--bg-colors-grey-accentured, #dfe5f3);
    background: var(--bg-colors-grey-light, #f9fbff);
    overflow: hidden;

    .detailHeader {
      display: flex;
      padding: 1rem;
      justify-content: space-between;
      align-items: center;
      .detailTitle {
        font-weight: 500;
      }
      .addNote {
        display: flex;
        padding: 0.25rem 0.5rem;
        align-items: center;
        gap: 0.25rem;
        cursor: pointer;
        .add {
          color: var(--Colors-blue-1, #194eff);
          font-size: 0.875rem;
        }
      }
    }

    .form {
      display: flex;
      padding: 0 0.75rem 0.75rem;
      flex-direction: column;
      gap: 0.5rem;
      flex: 1;
    }

    .row {
      display: flex;
      min-height: 3rem;
      align-items: center;
      gap: 0.75rem;
      border-radius: 0.75rem;
      background: var(--bg-colors-opaque, #fff);
      padding: 0 1rem;

      .field {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        width: 7rem;

        .fieldTitle {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          color: #3d3d3d; /* CHANGED */
          font-size: 0.875rem;
        }
      }
      .tag {
    display: flex;
    padding: 0.5rem;
    align-items: center;
    border-radius: 0.5rem;
    background: var(--Colors-green-1, #75c699);

    .tagTitle {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: var(--text-colors-primary-dark, #00020f);
      font-size: 1rem;
      font-weight: 400;
    }
  }

      .input {
        flex: 1;
        width: 100%;
        height: 100%;
        color: #00020f; /* CHANGED */
        font-size: 1rem;
        border: none;
        outline: none;
        background: transparent;
        
        &::placeholder { /* ADDED */
          color: #bcbbb8;
          opacity: 1;
        }
      }
    }

    .newField {
      display: flex;
      padding: 0.75rem;
      justify-content: center;
      align-items: center;

      .addNewField {
        display: flex;
        padding: 0.25rem 0.5rem;
        align-items: center;
        gap: 0.25rem;
        cursor: pointer;
        .add {
          color: var(--Colors-blue-1, #194eff);
          font-size: 0.875rem;
        }
      }
    }
  }
}