.kanbanPage {
  gap: 2rem;
  height: calc(100vh - 130px);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-top: 2rem;
  width: 100%;
}

.kanbanLists {
  display: flex;
  align-items: stretch;
  gap: 1rem;
  flex: 1 0 0;
  align-self: stretch;
  height: calc(100vh - 180px);
  overflow: hidden;
  width: 100%;
}

.spinnerWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spinner {
  width: 80px;
  height: 80px;
  border: 10px solid #3730b8;
  border-top: 10px solid transparent;
  border-radius: 50%;
  animation: spin 0.6s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

