.tab {
  display: flex;
  padding: 0.75rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex: 1 0 0;
  cursor: pointer;
  border-bottom: 2px solid var(--Border-colors-regular, #E2E8F0);

  p {
    color: var(--text-colors-secondary-dark, #3d3d3d);
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &.active {
    border-bottom: 2px solid var(--Brand, #194eff);
    background: var(--Brand-8, rgba(25, 78, 255, 0.04));

    p {
      color: #194EFF;
    }
  }
}
