.tag {
  display: flex;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  height: 36px;
  min-height: 36px;
  max-height: 36px;
  cursor: pointer;

  * {
    transition: all 0.2s ease;
  }

  p {
    color: var(--text-colors-primary-dark, #00020F);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .icons {
    cursor: pointer;

    * {
      fill-opacity: 0.48;
    }
  }

  &:hover {
    * {
      fill-opacity: 1;
    }
  }
}